.product {
  width: 300px;
  height: 510px;
  border: 1px solid red;
  border: 1px solid #95A0A7;
  border-radius: 8px;
  position: relative;
  margin: 1rem;
}


.product img {
  width: 286px;
  height: 286px;
  border-radius: 8px;
  margin: 7px;
}

.product-info {
  margin: 0 14px;
}

.product-info p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.product-name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  margin-top: 7px;
}

.button-cart {
  width: 100%;
  background: #FFE0B3;
  border: none;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button-cart:hover {
  background-color: orange;
}