.header-nav {
  height: 80px;
  background-color: #1C2B35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  margin-left: 36px;
}

.header-nav a:hover {
  color: orangered;
}